#bndl {
	position: absolute;
	display: table-cell;
	vertical-align: middle;
	background-color: lightgrey ;
	transition:ease 0.3s;
	box-shadow:
	  0 2px 9px  rgba(255,255,255,0.3),
	  0 -2px 6px rgba(0,0,0,0.4);
}

#bndl:hover {
	opacity: .7;
}

#bndl.close {
	top:95%;
	left:90%;
	width:10%;
	height:5%
}

#bndl.open {
	top:40%;
	left:35%;
	width:30%;
	height:20%
}

#bndl.extend {
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow: hidden;
}

button {
	background-color: #4CAF50; /* Green */
	border: 1px;
	color: white;
	padding: 5px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}

.bndl-progress {
	width: 100%;
	height: 0%;
	background-color: whitesmoke;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	transition: ease 0.3s;
	box-shadow: 
	  inset 0 2px 9px  rgba(0,0,0,0.4),
	  inset 0 -2px 6px rgba(255,255,255,0.3);
  }
  .bndl-progress:before {
	content: attr(data-label);
	font-size: auto;
	position: absolute;
	display: table-cell;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	z-index: 9999;
	top: 12.5%;
	left: 0;
	right: 0;
	bottom: 0;
  }
  .bndl-progress > span {
	height: 100%;
	background-color: rgba(135, 206, 235, 0.9);
	background-image: linear-gradient(
		-45deg, 
		rgba(255, 255, 255, .4) 25%, 
		transparent 25%, 
		transparent 50%, 
		rgba(255, 255, 255, .4) 50%, 
		rgba(255, 255, 255, .4) 75%, 
		transparent 75%, 
		transparent
	  );
	  z-index: 1;
	background-size: 50px 50px;
	animation: move 2s linear infinite;
	box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
	display: inline-block;
	transition: ease 0.3s;
  }
  .bndl-progress.start {
	height: 20px;
  }
  .bndl-progress.start > span {
	  animation: bndl-value-start-bar 3s infinite linear;
  }
  @keyframes bndl-value-start-bar {
	0% {
		background-position-x: 50px;
	}
	100% {
		background-position-x: 0px;
	}
  }